#edit-profile-form {
    width: 100%;
    margin: 40px auto;
}
.form-input {
    background-color: var(--white);
    border-radius: var(--button-radius);
    border: 1px solid var(--mediumgrey);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}
@media screen and (min-width: 768px) {
    #login-form  {
        max-width: 70%;
    }
}
@media screen and (min-width: 1024px) {
    #login-form  {
        max-width: 50%;
    }
}
#btn-delete{
    font-size: var(--button-font-size);
    padding: var(--button-padding);
    border-radius: var(--button-radius);
    cursor: pointer;
    background-color: var(--flash-error-color);
    border: 2px solid var(--flash-error-color);
    color: var(--dark);
}
