table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 3rem;
}
table th, td {
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: var(--white);
    word-break: break-all;
}
table th {
    background-color: var(--flash-info-bg);
    color: var(--flash-info-color);
}
table td {
    color: var(--dark);
}