{% extends "base.html" %}

{% block title %}
    Sign Up - FitTracker
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    <section id="login-section" class="bg-lightgrey">
        <div class="container">
            <h1 class="h3">
                Join FitTracker Now!
            </h1>
            <form id="login-form" action="{{ url_for('signup') }}" method="POST">
                <div class="card bg-white padding-large">
                    <h2 class="h5">Create Account</h2>
                    <div class="form-input">
                        <label for="email_field">Email</label>
                        <input id="email_field" type="email" name="email" value="" required>
                    </div>
                    <div class="form-input">
                        <label for="password_field">Password</label>
                        <input id="password_field" type="password" name="password" value="" required>
                    </div>
                    <button type="submit" id="btn-login" class="regular-button button-primary">Create</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

